data/*
outputs/*
*.ply
*.npy
*.png
*.zip
simulation/assets/
simulation2/output/
carla/output

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# TODO: the repo for memflow, should change to be submodules
simulation/modules/MemFlow/
simulation2/modules/MemFlow/
