data/*
outputs/*
*.ply
*.npy
*.png
simulation/assets/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# TODO: the repo for memflow, should change to be submodules
simulation/modules/MemFlow/
simulation2/modules/MemFlow/
